/*Estilos para Labels*/
.sideb-label {
    -fx-text-fill: #A1A0A3;
    -fx-font-family: 'Inter Medium';
    -fx-font-size: 16px; 
}

.button-sidebar {
    -fx-font-family: 'Inter';
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
}

.button-sidebar:focused,
.button-sidebar:pressed {
    -fx-background-color: #EDEDED;
    -fx-background-radius: 8px;
}

.button-logout {
    -fx-font-family: 'Inter';
    -fx-font-size: 16px;
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-radius: 16px;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 4px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(203, 205, 236, 0.8), 47, 0, 0, 18);
}

.pane-sidebar {
    -fx-background-color: 
        linear-gradient(
            from 0% 0% to 100% 100%, 
            rgba(245, 246, 254, 0.92) 0%, 
            rgba(251, 250, 254, 0.98) 100%
        );
    -fx-background-radius: 20px 0 0 20px;
    -fx-border-radius: 20px 0 0 20px;
    -fx-border-color: rgba(255, 255, 255, 0.4);
    -fx-border-width: 1.5px;
}

.sup-pane {
    -fx-background-color: linear-gradient(to right, #F9F9FF, #e7ecf8);
    -fx-background-radius: 0 20px 0 0;
    -fx-border-radius: 0 20px 0 0;
    -fx-border-color: rgba(255, 255, 255, 0.4);
    -fx-border-width: 1px;
}



