/*Estilos para iconos*/
.blue-icon{
    -fx-background-color: linear-gradient(to bottom, #4B91F7, #367AF6);
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 122, 255, 0.4), 42, 0, 0, 6);
}

.orange-icon{
    -fx-background-color: linear-gradient(to bottom, #F57C31, #FC4E31);
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(252, 78, 49, 0.4), 42, 0, 0, 6);
}

.purple-icon{
    -fx-background-color: linear-gradient(to bottom, #8153E3, #5C27CC);
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(66, 43, 205, 0.4), 42, 0, 0, 6);
}

.green-icon{
    -fx-background-color: linear-gradient(to bottom, #29DA4F, #35D67F);
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(76, 219, 108, 0.4), 42, 0, 0, 6);
}
